<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fsh.mvc_mvp_mvvm_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MVC_MVP_MVVM_Project">

        <activity
            android:name=".mvvm.MVVMActivity"
            android:label="MVVM"
            android:exported="false" />

        <activity
            android:name=".mvp.MVPActivity"
            android:label="MVP"
            android:exported="false" />

        <activity
            android:name=".mvc.MVCActivity"
            android:label="MVC"
            android:exported="false" />

        <activity
            android:name=".normal.NormalActivity"
            android:label="Normal"
            android:exported="false" />

        <!--
exported属性：当前Activity是否可以被另一个Application的组件启动：true允许被启动；false不允许被启动。
有intent-filter默认是true,无的话默认是false
       -->
        <activity
            android:name=".MainActivity"
            android:label="Main"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>